* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4 {
  margin: 0 auto;
  padding: 0;
}

body {
  margin: 1rem;
}

.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-container {
  top: 0;
  background-color: #ecf0f1;
}

.form-container,
.main-quotes-container {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid grey;
}

.form-container {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.main-quotes-container {
  width: 50%;
  z-index: 1;
  margin-top: 250px;
}

form {
  margin: 0 auto;
  display: block;
  width: 350px;
}

.user-input {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 350px;
  max-width: 350px;
  max-height: 300px;
}

#input-author {
  border: 1px solid grey;
}

#submit-button {
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
  width: 350px;
}

i.show-input,
i.hide-input {
  position: absolute;
  margin-left: 2%;
  bottom: 0;
}

i.show-input:hover,
i.hide-input:hover {
  cursor: pointer;
}

i.show-input {
  top: 0;
}

#asc-btn,
#dsc-btn {
  position: absolute;
  right: 0;
  width: 200px;
}

.fa-sort-alpha-asc,
.fa-sort-alpha-desc {
  padding-left: 1rem;
}

#asc-btn {
  bottom: 3rem;
}

#dsc-btn {
  bottom: 1rem;
}

.author {
  text-align: right;
  font-weight: bold;
  border-bottom: 1px dotted grey;
  width: 90%;
  margin: 0 auto;
}

.author:last-child {
  border-bottom: 0;
  margin-bottom: 1rem;
}

.quote {
  font-style: italic;
  width: 60%;
  display: block;
  margin: 0 auto;
}

.quote:first-child {
  margin-top: 1rem;
}

.single-quote-container {
  position: relative;
}

.delete {
  position: absolute;
  right: -20px;
  bottom: 0;
}

.delete:hover {
  cursor: pointer;
}

.author:hover {
  cursor: pointer;
}

.rating {
  float: left;
  font-size: 150%;
}

.rating:hover {
  cursor: pointer;
}

.addedStar {
  color: #f1c40f;
}