* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 1rem;
}

.page-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.form-container,
.main-quotes-container {
	width: 80%;
	display: block;
	margin: 0 auto;
	border-bottom: 1px solid grey;
}

.single-quote-container {

}

form {
	margin: 0 auto;
	display: block;
	width: 300px;
}

.user-input {
	margin: 0 auto;
	margin-bottom: 1rem;
	width: 300px;
	max-width: 300px;
	max-height: 300px;
}

#input-author {
	border: 1px solid grey;
}

#submit-button {
	margin: 0 auto;
	display: block;
	margin-bottom: 1rem;
	width: 300px
}

.author {
	text-align: right;
	font-weight: bold;
	border-bottom: 1px dotted grey;
	width: 90%;
	margin: 0 auto; 
	&:last-child{
		border-bottom: 0;
		margin-bottom: 1rem;
	}
}

.quote {
	font-style: italic;
	&:first-child {
		margin-top: 1rem;
	}
}

.single-quote-container {
	position: relative;
}
.fa {
	position: absolute;
	right: -20px;
	bottom: 0;
	&:hover {
		cursor: pointer;
	}
}