* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
h1,
h2,
h3,
h4 {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans", "sans-serif";
}

body {
  margin: 1rem;
}

.page-title {
  text-align: center;
  font-weight: bold;
  font-size: 3.5rem;
  margin: 1rem auto;
  display: block;
  font-family: "Lato", "sans-serif";
  width: 900px;
}

.single-quote-container {
  position: relative;
  margin: 1rem;
}

.single-quote-container:after {
  content: '';
  display: table;
  clear: both;
}

.form-container {
  top: 0;
  background-color: #ecf0f1;
  position: relative;
}

.form-container,
.main-quotes-container {
  width: 80%;
  display: block;
  margin: 0 auto;
  border-bottom: 1px solid grey;
}

.form-container {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
}

.main-quotes-container {
  width: 70%;
  z-index: 1;
  margin-top: 300px;
}

form {
  margin: 0 auto;
  display: block;
  width: 350px;
}

.user-input {
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 350px;
  max-width: 350px;
  max-height: 300px;
}

#input-author {
  border: 1px solid grey;
}

#submit-button {
  margin: 0 auto;
  display: block;
  margin-bottom: 1rem;
  width: 350px;
}

i.show-input,
i.hide-input {
  position: absolute;
  margin-left: 2%;
  bottom: 0;
}

i.show-input:hover,
i.hide-input:hover {
  cursor: pointer;
}

i.show-input {
  bottom: auto;
  top: 0;
}

.fa-sort-alpha-asc,
.fa-sort-alpha-desc {
  padding-left: 1rem;
}

#asc-btn,
#dsc-btn,
#random-quote-btn {
  position: absolute;
  right: 0;
  width: 200px;
}

#asc-btn {
  bottom: 3rem;
}

#dsc-btn {
  bottom: 1rem;
}

#random-quote-btn {
  bottom: 5rem;
}

.author {
  text-align: right;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: .4rem;
  float: left;
}

.author:last-child {
  border-bottom: 0;
  margin-bottom: 1rem;
}

.author:hover {
  cursor: pointer;
}

.quote {
  font-style: italic;
  float: left;
  width: 60%;
  display: block;
  margin: 0 5%;
}

.quote:first-child {
  margin-top: 1rem;
}

.delete {
  float: right;
  position: relative;
  top: -8px;
}

.delete:hover {
  cursor: pointer;
}

.rating {
  float: left;
  font-size: 150%;
}

.rating:hover {
  cursor: pointer;
}

.addedStar {
  color: #f1c40f;
}

.lightbox-container {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  height: 100%;
  width: 100%;
}

.lightbox-alert {
  margin: 10% auto;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 60%;
  padding: 2rem;
  padding-bottom: 5rem;
}

.lightbox-alert:after {
  content: '';
  display: table;
  clear: both;
}

.close-lightbox-btn {
  background-color: red;
  opacity: .6;
  color: white;
  padding: 1rem 4rem;
  border-radius: 5px;
  float: right;
}

.close-lightbox-btn:hover {
  cursor: pointer;
}